<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>Receipe Page</title>
</head>
<body>
  <nav class="navbar dark p-3 bg-primary shadow-lg">
    <div class="container-fluid">
      <a class="navbar.brand">Navbar</a>
      {% if request.user.is_authenticated %}
        <a href="/logoutpage/" class="btn btn-success" type="submit">Logout</a>
      {% else %}
      <a href="/loginpage/" class="btn btn-success" type="submit">Login</a>
      {% endif %}
      </form>
    </div>
  </nav>
    <h1>Let's Learn Some Receipes</h1>

    <div class="container mt-5">
        <form class="col-6 mx-auto card p-3 shadow-lg" method="post" enctype="multipart/form-data">
          {% csrf_token %}
            <h2>Add Receipe</h2>
            <hr>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Receipe Name</label>
              <input name="reciepe_name" type="text" class="form-control" required>
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Receipe Description</label>
              <textarea name="reciepe_description" class="form-control" required></textarea>
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Receipe Image</label>
              <input name="reciepe_image" type="file" class="form-control">
            </div>
            <button type="submit" class="btn btn-success">Add Receipe</button>
        </form>

        <div class="mt-5">
          <div class="mx-auto col-6">
          <form>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Search Food</label>
              <input name="search" type="text" class="form-control" >

            </div>
            
            <button type="submit" class="btn btn-primary m-2">Search</button>
           </form>
          </div>
        </div>

        <table class="table mt-5">
          <thead>
            <tr>
              <th scope="col">SL. NO.</th>
              <th scope="col">Receipe Name</th>
              <th scope="col">Receipe Description</th>
              <th scope="col">Image</th>
            </tr>
          </thead>
          <tbody>
            {% for i in receipe %}
            <tr>
              <th scope="row">{{forloop.counter}}</th>
              <td>{{ i.receipe_name }}</td>
              <td>{{ i.receipe_description }}</td>
              <td>
                <img src = "/media/{{ i.receipe_image }}" style="height: 50px;">
              </td>
              <td>
                <a href="/delete-receipe/{{ i.id }}" class = "btn btn-danger m-2">Delete</a>
                <a href="/update-receipe/{{ i.slug }}" class = "btn btn-success">Update</a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>
</body>
</html>